# This file is copied from ./core/phpstan.neon.dist then set to only
# ignore errors applicable to this project rather than all errors ignored
# from Core as phpstan throws errors when ignore lines here are unused.

includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 2

  paths:
    - src

  scanDirectories:
    - vendor

  fileExtensions:
    - php
    - module
    - inc
    - install

  ignoreErrors:
    - identifier: varTag.nativeType
      message: '#is not subtype of native type Drupal\\ai\\Plugin\\ProviderProxy#'

    # No fucking clue why this occurs with these specific three classes
    - identifier: class.notFound
      message: '#has invalid type Drupal\\ai\\Operation\\(TextToImage|TextToSpeech|SpeechToText)\\\1Input#'